<header class="bg-none sticky top-0 w-full">
    <div class="container-wrapper py-2">
        <div class="flex flex-row p-md gap-2 border-1 r-md bg-background">
            <a class="px-xl py-md r-md text-foreground hover-muted button" href="/">?</a>
            <nav class="flex flex-row gap-1">
                <a class="px-xl py-md r-md text-foreground hover-muted button" href="/missions">Missions</a>
                <a class="px-xl py-md r-md text-foreground hover-muted button" href="/about">About</a>
                <a class="px-xl py-md r-md text-foreground hover-muted button" href="/f">Error</a>
                <a class="px-xl py-md r-md text-foreground hover-muted button" href="/cansat">Cansat</a>
            </nav>
        </div>
    </div>
</header>