#sidebar #sidebar-chevron svg { transition: transform 0.3s ease; justify-self: end; }
#sidebar.open #sidebar-chevron svg { transform: rotate(180deg);  }

/* Hide nav text when sidebar is collapsed */
#sidebar:not(.open) .nav-hide { display: none; }


#sidebar {
    transition: width 1s ease, max-width 1s ease;
}

#sidebar:not(.open)
{
    min-width: fit-content;
}

/* Ensure sidebar container transitions smoothly for other properties */
/* #sidebar { transition: width 250ms ease, max-width 250ms ease } */



















.dropdown-menu
{
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 4px;
    padding: calc(var(--spacing) * 0.25);
    min-width: calc(var(--container-size) * .5);
    background: var(--muted);
    color: var(--accent-foreground);
    border: 1px solid var(--border);
    border-radius: calc(var(--radius) * .75);
    box-shadow: 0 10px 20px rgba(0,0,0,.15);
    z-index: 10;
}

.dropdown-item:hover
{
    background: var(--accent);
}

button.tab, .button.tab
{
    border-radius: var(--radius) var(--radius) 0 0;
    box-sizing: border-box;
    position: relative;
}

button.tab.active, .button.tab.active
{
    position: relative;
    background-color: var(--panel);
    border: 1px solid var(--border);
    border-bottom: 1px solid transparent;
}

button.tab.active::before, .button.tab.active::before
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(var(--radius) * 2);
    background-color: var(--panel);
    outline: 1px solid var(--border);
    margin-bottom: -10px;
    z-index: -1;
    pointer-events: none;
}

/* Helpers */
.break-words {
    word-break: break-word;
    /* white-space: pre-wrap; */
    /* overflow-wrap: anywhere; */
    /* max-width: 100%; */
}

.max-w-full
{
    max-width: 100%;
}