.lucide.xs
{
    width: calc(var(--spacing) * .75);
    height: calc(var(--spacing) * .75);
}

.lucide.sm
{
    width: calc(var(--spacing) * .75);
    height: calc(var(--spacing) * .75);
}

.lucide, .lucide.md
{
    width: calc(var(--spacing) * 1);
    height: calc(var(--spacing) * 1);
}

.lucide.lg
{
    width: calc(var(--spacing) * 1.25);
    height: calc(var(--spacing) * 1.25);
    stroke-width: 1.75px;
}