{% extends "base.html" %}
{% block title %} Home - {% endblock %}

{% block head %}{% endblock %}

{% block body %}
<header class="bg-background sticky top-0 w-full">
    <div class="">
        <a href="/">Logo</a>
    </div>
</header>

<h1 class="text-primary">SampleCan</h1>
<p class="text-foreground">A cansat project 2025-26</p>

<div style="width: 100px; height: 100px; margin: 10px; background-color: red; border-radius: var(--radius);"></div>
<div style="width: 100px; height: 100px; margin: 10px; background-color: red; border-radius: var(--radius-xs);"></div>
<div style="width: 100px; height: 100px; margin: 10px; background-color: red; border-radius: var(--radius-sm);"></div>
<div style="width: 100px; height: 100px; margin: 10px; background-color: red; border-radius: var(--radius-md);"></div>
<div style="width: 100px; height: 100px; margin: 10px; background-color: red; border-radius: var(--radius-lg);"></div>
<div style="width: 100px; height: 100px; margin: 10px; background-color: red; border-radius: var(--radius-xl);"></div>










{% endblock %}